<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #000; color: #FFF"> 
  <h1>For(joe)bidden ! </h1>
  <img style="width: 33%;" src="https://images.hottrendclothing.com/2022/06/joe-biden-error-403-forbiden-forbiden-error-54113-shirt-hoodie.jpg" />
</body>
</html>