
    <div class="container">
      <div class="columns">
          <div class="column is-3 ">
              <aside class="menu is-hidden-mobile">
                  <p class="menu-label">
                      General
                  </p>
                  <ul class="menu-list">
                      <li><a href="/admin/?username=<%= username %>" class="is-active">Dashboard</a></li>
                      <li><a href="/admin/posts?username=<%= username %>">Posts</a></li>
                      <li><a href="/admin/users?username=<%= username %>">Users</a></li>
                  </ul>
              </aside>
          </div>